<p class="bg-danger">clients works!</p>
 
<div class="container">
    <div class="card"  >
        <div class="card-header bg-clients text-center text-light header-text ">Customers List</div>
        <div class="card-body">
             
            <table class="table">
                <thead>
                    <tr><th>client id</th><th> client Name</th><th>client email</th><th>Client bills</th></tr>
                </thead>
                <tbody>
                     
                    <tr *ngFor="let client of Clients">
                        <td>{{client.id}}</td>
                        <td>{{client.name}}</td>
                        <td>{{client.email}}</td>
                        <td><button class="bg-danger text-light" (click)="goToCustomerBills(client.id)" >Bills</button></td>
                        <td><button  ><i class="bi bi-trash "></i></button></td>
                    </tr>
                </tbody>

            </table>
             

        </div>

    </div>

 </div>