  
<div class="container">
    <div class="card"  >
        <div class="card-header bg-clients text-center text-light header-text ">Customers</div>
        <div class="card-body">
             
            <table class="table">
                <thead>
                    <tr><th>id</th><th>Full Name</th><th>client email</th> </tr>
                </thead>
                <tbody>
                     
                    <tr *ngFor="let client of Clients">
                        <td class="bg-info text-light">#{{client.id}}</td>
                        <td class="bg-info text-light">{{client.name}}</td>
                        <td class="bg-info text-light">{{client.email}}</td>
                         
                         
                    </tr>
                </tbody>

            </table>
             

        </div>

    </div>

 </div>