  
<div class="container">
    <div class="card"  >
        <div class="card-header bg-products  text-center text-light header-text">Inventory Service</div>
        <div class="card-body">
             
            <table class="table">
                <thead class="text-danger">
                    <tr><th>Id</th><th>Name</th><th>quanity in Stock</th><th>$/Unite </th></tr>
                </thead>
                <tbody>
                     
                    <tr *ngFor="let product of Products">
                        <td class="bg-info text-light">#{{product.id}}</td>
                        <td class="bg-info text-light">{{product.name}}</td>
                        <td class="bg-warning text-light">{{product.quantity}}</td>
                        <td class="bg-success text-light">{{product.price}}</td>
                         
                         
                    </tr>
                </tbody>

            </table>
             

        </div>

    </div>

 </div>