  
<div class="container">
    <div class="card"  >
        <div class="card-header bill-bg  text-center text-light header-text">Bills list</div>
        <div class="card-body">
             
            <table class="table" >
                <thead>
                    <tr><th>Billing Date</th> <th>Details</th> </tr>
                </thead>
                 

                <tbody> 
                    <tr *ngFor="let bill of bills">
                        <td>{{bill.billingDate | date:'medium'}}</td>
                         
                        <td><button class="bg-primary text-light px-4" (click)="goToCustomerBills(bill.customerId)" >FullBill</button></td>
                             
                    </tr>
                </tbody>

            </table>
             

        </div>

    </div>

 </div>